@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #242424;
    --foreground: #ededed;
  }
  body {
    background-color: #808080; /* Grey background for dark mode */
    color: white; /* Optional: change text color for better contrast */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.dark-mode {
    background-color: #808080; /* Grey background for dark mode */
    color: white; /* Optional: change text color for better contrast */
}

@media (prefers-color-scheme: dark) {
    /* Set text color for highlighted markdown characters to black */
    .markdown-highlight {
        color: black;
    }
}
